{% import_yaml "csf/osmap.yaml" as osmap %}
{% import_yaml "csf/defaults.yaml" as defaults %}


{# Map OS to OSName #}
{% set os_distro = salt['grains.filter_by'](osmap,grain='os',default='Debian') %}

{# Map Operating System version #}
{% if grains['osmajorrelease'] is defined %}
{% set os_settings = salt['grains.filter_by'](os_distro,grain='osmajorrelease',default='common') %}
{% else %}
{% set os_settings = salt['grains.filter_by'](os_distro,grain='osrelease',default='common') %}
{% endif %}

{# Merge in defaults to OS settings #}
{% do defaults.csf.update(os_settings) %}

{# Merge in common settings to pillar #}
{% if pillar['csf']['common'] is defined %}
{% set pillar_common = salt['pillar.get']('csf:common',default=defaults.csf,merge=True) %}
{% endif %}

{# Merge in minion specific settings to pillar #}
{% if pillar['csf'][grains['id']] is defined %}
{% set pillar_minion = salt['pillar.get']('csf:'~grains['id'],default=pillar_common,merge=True) %}
{% endif %}

{# Create import pillar #}
{% set csf = pillar_minion %}
