csf:
  service:
    csf: True
    lfd: True
  config:
    main:
      TESTING: 0
    ignore:
      somerole:
        - "10.0.0.0/8 #Internal Subnet"
  rule:
    post: {}
    pre:
      somerole:
        - /sbin/iptables...
